/* app css stylesheet */

body {
  background: #fff;
  color: #666666;
  font-family: "Open Sans", sans-serif;
}

a {
  color: #efbb22;
  transition: 0.5s;
}

a:hover, a:active, a:focus {
  color: #efbb22;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  margin: 0 0 20px 0;
  padding: 0;
}

/* Back to top button */
.back-to-top {
  position: fixed;
  display: none;
  background: #efbb22;
  color: #fff;
  display: inline-block;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 1;
  font-size: 16px;
  border-radius: 50%;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
  z-index: 11;
}

.back-to-top i {
  padding-top: 12px;
  color: #fff;
}

@media (max-width: 768px) {
  .back-to-top {
    bottom: 15px;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  padding: 30px 0;
  height: 92px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 997;
}

#header.header-scrolled {
  background: rgba(0, 0, 0, 0.9);
  padding: 20px 0;
  height: 72px;
  transition: all 0.5s;
}

#header #logo {
  float: left;
}

@media (min-width: 1024px) {
  #header #logo {
    padding-left: 60px;
  }
}

#header #logo h1 {
  font-size: 34px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
}

#header #logo h1 a, #header #logo h1 a:hover {
  color: #fff;
  padding-left: 10px;
  border-left: 4px solid #efbb22;
}

#header #logo img {
  padding: 0;
  margin: 0;
}

@media (max-width: 768px) {
  #header #logo h1 {
    font-size: 28px;
  }
  #header #logo img {
    max-height: 40px;
  }
}

/*--------------------------------------------------------------
# Intro Section
--------------------------------------------------------------*/

#intro {
  display: table;
  width: 100%;
  height: 100vh;
  background: #000;
}

#intro .carousel-item {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#intro .carousel-item::before {
  content: '';
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#intro .carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#intro .carousel-content {
  text-align: center;
}

#intro h2 {
  color: #fff;
  margin-bottom: 30px;
  font-size: 48px;
  font-weight: 700;
}

@media (max-width: 768px) {
  #intro h2 {
    font-size: 28px;
  }
}


#intro p {
  width: 80%;
  margin: 0 auto 30px auto;
  color: #fff;
}

@media (min-width: 1024px) {
  #intro p {
    width: 60%;
  }
}

#intro .carousel-fade .carousel-inner .carousel-item {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}

#intro .carousel-fade .carousel-inner .carousel-item,
#intro .carousel-fade .carousel-inner .active.carousel-item-left,
#intro .carousel-fade .carousel-inner .active.carousel-item-right {
  opacity: 0;
}

#intro .carousel-fade .carousel-inner .active,
#intro .carousel-fade .carousel-inner .carousel-item-next.carousel-item-left,
#intro .carousel-fade .carousel-inner .carousel-item-prev.carousel-item-right {
  opacity: 1;
  transition: 0.5s;
}

#intro .carousel-fade .carousel-inner .carousel-item-next,
#intro .carousel-fade .carousel-inner .carousel-item-prev,
#intro .carousel-fade .carousel-inner .active.carousel-item-left,
#intro .carousel-fade .carousel-inner .active.carousel-item-right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

#intro .carousel-control-prev, #intro .carousel-control-next {
  width: 10%;
}

@media (min-width: 1024px) {
  #intro .carousel-control-prev, #intro .carousel-control-next {
    width: 5%;
  }
}

#intro .carousel-control-next-icon, #intro .carousel-control-prev-icon {
  background: none;
  font-size: 32px;
  line-height: 1;
}

#intro .carousel-indicators li {
  cursor: pointer;
}

#intro .btn-get-started {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 32px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  color: #fff;
  background: #efbb22;
}

#intro .btn-get-started:hover {
  background: #fff;
  color: #efbb22;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Nav Menu Essentials */
.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}

.nav-menu li {
  position: relative;
  white-space: nowrap;
}

.nav-menu > li {
  float: left;
}

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
  display: block;
}

.nav-menu ul ul {
  top: 0;
  left: 100%;
}

.nav-menu ul li {
  min-width: 180px;
}

/* Nav Menu Arrows */
.sf-arrows .sf-with-ul {
  padding-right: 30px;
}

.sf-arrows .sf-with-ul:after {
  content: "\f107";
  position: absolute;
  right: 15px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
}

.sf-arrows ul .sf-with-ul:after {
  content: "\f105";
}

/* Nav Meu Container */
#nav-menu-container {
  float: right;
  margin: 0;
}

@media (min-width: 1024px) {
  #nav-menu-container {
    padding-right: 60px;
  }
}

@media (max-width: 768px) {
  #nav-menu-container {
    display: none;
  }
}

/* Nav Meu Styling */
.nav-menu a {
  padding: 0 8px 10px 8px;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  outline: none;
}

.nav-menu li:hover > a, .nav-menu > .menu-active > a {
  color: #efbb22;
}

.nav-menu > li {
  margin-left: 10px;
}

.nav-menu ul {
  margin: 4px 0 0 0;
  padding: 10px;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  background: #fff;
}

.nav-menu ul li {
  transition: 0.3s;
}

.nav-menu ul li a {
  padding: 10px;
  color: #333;
  transition: 0.3s;
  display: block;
  font-size: 13px;
  text-transform: none;
}

.nav-menu ul li:hover > a {
  color: #efbb22;
}

.nav-menu ul ul {
  margin: 0;
}

/* Mobile Nav Toggle */
#mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  margin: 20px 20px 0 0;
  border: 0;
  background: none;
  font-size: 24px;
  display: none;
  transition: all 0.4s;
  outline: none;
  cursor: pointer;
}

#mobile-nav-toggle i {
  color: #fff;
}

@media (max-width: 768px) {
  #mobile-nav-toggle {
    display: inline;
  }
}

/* Mobile Nav Styling */
#mobile-nav {
  position: fixed;
  top: 0;
  padding-top: 18px;
  bottom: 0;
  z-index: 998;
  background: rgba(0, 0, 0, 0.8);
  left: -260px;
  width: 260px;
  overflow-y: auto;
  transition: 0.4s;
}

#mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#mobile-nav ul li {
  position: relative;
}

#mobile-nav ul li a {
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  overflow: hidden;
  padding: 10px 22px 10px 15px;
  position: relative;
  text-decoration: none;
  width: 100%;
  display: block;
  outline: none;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}

#mobile-nav ul li a:hover {
  color: #fff;
}

#mobile-nav ul li li {
  padding-left: 30px;
}

#mobile-nav ul .menu-has-children i {
  position: absolute;
  right: 0;
  z-index: 99;
  padding: 15px;
  cursor: pointer;
  color: #fff;
}

#mobile-nav ul .menu-has-children i.fa-chevron-up {
  color: #efbb22;
}

#mobile-nav ul .menu-has-children li a {
  text-transform: none;
}

#mobile-nav ul .menu-item-active {
  color: #efbb22;
}

#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  display: none;
}

/* Mobile Nav body classes */
body.mobile-nav-active {
  overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
  left: 0;
}

body.mobile-nav-active #mobile-nav-toggle {
  color: #fff;
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
/* Sections Header
--------------------------------*/
.section-header h3 {
  font-size: 32px;
  color: #111;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  position: relative;
  padding-bottom: 15px;
}

.section-header h3::before {
  content: '';
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-header h3::after {
  content: '';
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #efbb22;
  bottom: 0;
  left: calc(50% - 20px);
}

.section-header p {
  text-align: center;
  padding-bottom: 30px;
  color: #333;
}

/* Section with background
--------------------------------*/
.section-bg {
  background: #f7f7f7;
}

/* Featured Services Section
--------------------------------*/
#featured-services {
  background: #000;
}

#featured-services .box {
  padding: 30px 20px;
}

#featured-services .box-bg {
  background-image: linear-gradient(0deg, #000000 0%, #242323 50%, #000000 100%);
}

#featured-services i {
  color: #efbb22;
  font-size: 48px;
  display: inline-block;
  line-height: 1;
}

#featured-services h4 {
  font-weight: 400;
  margin: 15px 0;
  font-size: 18px;
}

#featured-services h4 a {
  color: #fff;
}

#featured-services h4 a:hover {
  color: #efbb22;
}

#featured-services p {
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  margin-bottom: 0;
}

/* About Us Section
--------------------------------*/
.about {
  background: url("../res/img/about-bg.jpg") center top no-repeat fixed;
  background-size: cover;
  padding: 60px 0 40px 0;
  position: relative;
}

.about::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.92);
  z-index: 9;
}

.about .container {
  position: relative;
  z-index: 10;
}

.about .about-col {
  background: #fff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  margin-bottom: 20px;
}

.about .about-col .img {
  position: relative;
}

.about .about-col .img img {
  border-radius: 4px 4px 0 0;
}

.about .about-col .icon {
  width: 64px;
  height: 64px;
  padding-top: 8px;
  text-align: center;
  position: absolute;
  background-color: #efbb22;
  border-radius: 50%;
  text-align: center;
  border: 4px solid #fff;
  left: calc( 50% - 32px);
  bottom: -30px;
  transition: 0.3s;
}

.about .about-col i {
  font-size: 36px;
  line-height: 1;
  color: #fff;
  transition: 0.3s;
}

.about .about-col:hover .icon {
  background-color: #fff;
}

.about .about-col:hover i {
  color: #efbb22;
}

.about .about-col h2 {
  color: #000;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  padding: 0;
  margin: 40px 0 12px 0;
}

.about .about-col h2 a {
  color: #000;
}

.about .about-col h2 a:hover {
  color: #efbb22;
}

.about .about-col p {
  font-size: 14px;
  line-height: 24px;
  color: #333;
  margin-bottom: 0;
  padding: 0 20px 20px 20px;
}

/* Services Section
--------------------------------*/
#services {
  background: #fff;
  background-size: cover;
  padding: 60px 0 40px 0;
}

#services .box {
  margin-bottom: 30px;
}

#services .icon {
  float: left;
}

#services .icon i {
  color: #efbb22;
  font-size: 36px;
  line-height: 1;
  transition: 0.5s;
}

#services .title {
  margin-left: 60px;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

#services .title a {
  color: #111;
}

#services .box:hover .title a {
  color: #efbb22;
}

#services .description {
  font-size: 14px;
  margin-left: 60px;
  line-height: 24px;
  margin-bottom: 0;
}

/* Call To Action Section
--------------------------------*/
#call-to-action {
  background: linear-gradient(rgba(0, 142, 99, 0.1), rgba(0, 0, 0, 0.1)), url(../res/img/call-to-action-bg.jpg) fixed center center;
  background-size: cover;
  padding: 60px 0;
}

#call-to-action h3 {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
}

#call-to-action p {
  color: #fff;
}

#call-to-action .cta-btn {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 25px;
  transition: 0.5s;
  margin-top: 10px;
  border: 2px solid #fff;
  color: #fff;
}

#call-to-action .cta-btn:hover {
  background: #efbb22;
  border: 2px solid #efbb22;
}

/* Call To Action Section
--------------------------------*/
#skills {
  padding: 60px 0;
}

#skills .progress {
  height: 35px;
  margin-bottom: 10px;
}

#skills .progress .skill {
  font-family: "Open Sans", sans-serif;
  line-height: 35px;
  padding: 0;
  margin: 0 0 0 20px;
  text-transform: uppercase;
}

#skills .progress .skill .val {
  float: right;
  font-style: normal;
  margin: 0 20px 0 0;
}

#skills .progress-bar {
  width: 1px;
  text-align: left;
  transition: .9s;
}

/* Facts Section
--------------------------------*/
#facts {
  background: url("../res/img/facts-bg.jpg") center top no-repeat fixed;
  background-size: cover;
  padding: 60px 0 0 0;
  position: relative;
}

#facts::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.88);
  z-index: 9;
}

#facts .container {
  position: relative;
  z-index: 10;
}

#facts .counters span {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 48px;
  display: block;
  color: #efbb22;
}

#facts .counters p {
  padding: 0;
  margin: 0 0 20px 0;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #111;
}

#facts .facts-img {
  text-align: center;
  padding-top: 30px;
}

/* Portfolio Section
--------------------------------*/
#portfolio {
  padding: 60px 0;
}

#portfolio #portfolio-flters {
  padding: 0;
  margin: 5px 0 35px 0;
  list-style: none;
  text-align: center;
}

#portfolio #portfolio-flters li {
  cursor: pointer;
  margin: 15px 15px 15px 0;
  display: inline-block;
  padding: 10px 20px;
  font-size: 12px;
  line-height: 20px;
  color: #666666;
  border-radius: 4px;
  text-transform: uppercase;
  background: #fff;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

#portfolio #portfolio-flters li:hover, #portfolio #portfolio-flters li.filter-active {
  background: #efbb22;
  color: #fff;
}

#portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

#portfolio .portfolio-wrap {
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  transition: 0.3s;
}

#portfolio .portfolio-wrap:hover {
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.16);
}

#portfolio .portfolio-item {
  position: relative;
  height: 360px;
  overflow: hidden;
}

#portfolio .portfolio-item figure {
  background: #000;
  overflow: hidden;
  height: 240px;
  position: relative;
  border-radius: 4px 4px 0 0;
  margin: 0;
}

#portfolio .portfolio-item figure:hover img {
  opacity: 0.4;
  transition: 0.3s;
}

#portfolio .portfolio-item figure .link-preview, #portfolio .portfolio-item figure .link-details {
  position: absolute;
  display: inline-block;
  opacity: 0;
  line-height: 1;
  text-align: center;
  width: 36px;
  height: 36px;
  background: #fff;
  border-radius: 50%;
  transition: 0.2s linear;
}

#portfolio .portfolio-item figure .link-preview i, #portfolio .portfolio-item figure .link-details i {
  padding-top: 6px;
  font-size: 22px;
  color: #333;
}

#portfolio .portfolio-item figure .link-preview:hover, #portfolio .portfolio-item figure .link-details:hover {
  background: #efbb22;
}

#portfolio .portfolio-item figure .link-preview:hover i, #portfolio .portfolio-item figure .link-details:hover i {
  color: #fff;
}

#portfolio .portfolio-item figure .link-preview {
  left: calc(50% - 38px);
  top: calc(50% - 18px);
}

#portfolio .portfolio-item figure .link-details {
  right: calc(50% - 38px);
  top: calc(50% - 18px);
}

#portfolio .portfolio-item figure:hover .link-preview {
  opacity: 1;
  left: calc(50% - 44px);
}

#portfolio .portfolio-item figure:hover .link-details {
  opacity: 1;
  right: calc(50% - 44px);
}

#portfolio .portfolio-item .portfolio-info {
  background: #fff;
  text-align: center;
  padding: 30px;
  height: 90px;
  border-radius: 0 0 3px 3px;
}

#portfolio .portfolio-item .portfolio-info h4 {
  font-size: 18px;
  line-height: 1px;
  font-weight: 700;
  margin-bottom: 18px;
  padding-bottom: 0;
}

#portfolio .portfolio-item .portfolio-info h4 a {
  color: #333;
}

#portfolio .portfolio-item .portfolio-info h4 a:hover {
  color: #efbb22;
}

#portfolio .portfolio-item .portfolio-info p {
  padding: 0;
  margin: 0;
  color: #b8b8b8;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
}

/* Clients Section
--------------------------------*/
#clients {
  padding: 60px 0;
}

#clients img {
  max-width: 100%;
  opacity: 0.5;
  transition: 0.3s;
  padding: 15px 0;
}

#clients img:hover {
  opacity: 1;
}

#clients .owl-nav, #clients .owl-dots {
  margin-top: 5px;
  text-align: center;
}

#clients .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd;
}

#clients .owl-dot.active {
  background-color: #efbb22;
}


/* Testimonials Section
--------------------------------*/
#testimonials {
  padding: 60px 0;
}

#testimonials .section-header {
  margin-bottom: 40px;
}

#testimonials .testimonial-item {
  text-align: center;
}

#testimonials .testimonial-item .testimonial-img {
  width: 120px;
  border-radius: 50%;
  border: 4px solid #fff;
  margin: 0 auto;
}

#testimonials .testimonial-item h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #111;
}

#testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0 0 15px 0;
}

#testimonials .testimonial-item .quote-sign-left {
  margin-top: -15px;
  padding-right: 10px;
  display: inline-block;
  width: 37px;
}

#testimonials .testimonial-item .quote-sign-right {
  margin-bottom: -15px;
  padding-left: 10px;
  display: inline-block;
  max-width: 100%;
  width: 37px;
}

#testimonials .testimonial-item p {
  font-style: italic;
  margin: 0 auto 15px auto;
}

@media (min-width: 992px) {
  #testimonials .testimonial-item p {
    width: 80%;
  }
}

#testimonials .owl-nav, #testimonials .owl-dots {
  margin-top: 5px;
  text-align: center;
}

#testimonials .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd;
}

#testimonials .owl-dot.active {
  background-color: #efbb22;
}

/* Team Section
--------------------------------*/
#team {
  background: #fff;
  padding: 60px 0;
}

#team .member {
  text-align: center;
  margin-bottom: 20px;
  background: #000;
  position: relative;
}

#team .member .member-info {
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  transition: 0.2s;
}

#team .member .member-info-content {
  margin-top: -50px;
  transition: margin 0.2s;
}

#team .member:hover .member-info {
  background: rgba(0, 0, 0, 0.7);
  opacity: 1;
  transition: 0.4s;
}

#team .member:hover .member-info-content {
  margin-top: 0;
  transition: margin 0.4s;
}

#team .member h4 {
  font-weight: 700;
  margin-bottom: 2px;
  font-size: 18px;
  color: #fff;
}

#team .member span {
  font-style: italic;
  display: block;
  font-size: 13px;
  color: #fff;
}

#team .member .social {
  margin-top: 15px;
}

#team .member .social a {
  transition: none;
  color: #fff;
}

#team .member .social a:hover {
  color: #efbb22;
}

#team .member .social i {
  font-size: 18px;
  margin: 0 2px;
}

/* Contact Section
--------------------------------*/
#contact {
  padding: 60px 0;
}

#contact .contact-info {
  margin-bottom: 20px;
  text-align: center;
}

#contact .contact-info i {
  font-size: 48px;
  display: inline-block;
  margin-bottom: 10px;
  color: #efbb22;
}

#contact .contact-info address, #contact .contact-info p {
  margin-bottom: 0;
  color: #000;
}

#contact .contact-info h3 {
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: bold;
  text-transform: uppercase;
  color: #999;
}

#contact .contact-info a {
  color: #000;
}

#contact .contact-info a:hover {
  color: #efbb22;
}

#contact .contact-address, #contact .contact-phone, #contact .contact-email {
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  #contact .contact-address, #contact .contact-phone, #contact .contact-email {
    padding: 20px 0;
  }
}

@media (min-width: 768px) {
  #contact .contact-phone {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }
}

#contact .form #sendmessage {
  color: #efbb22;
  border: 1px solid #efbb22;
  display: none;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#contact .form #errormessage {
  color: red;
  display: none;
  border: 1px solid red;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#contact .form #sendmessage.show, #contact .form #errormessage.show, #contact .form .show {
  display: block;
}

#contact .form .validation {
  color: red;
  display: none;
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 13px;
}

#contact .form input, #contact .form textarea {
  padding: 10px 14px;
  border-radius: 0;
  box-shadow: none;
  font-size: 15px;
}

#contact .form button[type="submit"] {
  background: #efbb22;
  border: 0;
  padding: 10px 30px;
  color: #fff;
  transition: 0.4s;
  cursor: pointer;
}

#contact .form button[type="submit"]:hover {
  background: #13a456;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #000;
  padding: 0 0 30px 0;
  color: #eee;
  font-size: 14px;
}

#footer .footer-top {
  background: #111;
  padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
  margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
  font-size: 25px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 10px;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  border-left: 4px solid #efbb22;
}

#footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Montserrat", sans-serif;
  color: #eee;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #333;
  color: #eee;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #efbb22;
  color: #fff;
}

#footer .footer-top h4 {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top h4::before, #footer .footer-top h4::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
}

#footer .footer-top h4::before {
  right: 0;
  background: #555;
}

#footer .footer-top h4::after {
  background: #efbb22;
  width: 60px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 8px;
  color: #ddd;
}

#footer .footer-top .footer-links ul li {
  border-bottom: 1px solid #333;
  padding: 10px 0;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #eee;
}

#footer .footer-top .footer-links ul a:hover {
  color: #efbb22;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact p {
  line-height: 26px;
}

#footer .footer-top .footer-newsletter {
  margin-bottom: 30px;
}

#footer .footer-top .footer-newsletter input[type="email"] {
  border: 0;
  padding: 6px 8px;
  width: 65%;
}

#footer .footer-top .footer-newsletter input[type="submit"] {
  background: #efbb22;
  border: 0;
  width: 35%;
  padding: 6px 0;
  text-align: center;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
}

#footer .footer-top .footer-newsletter input[type="submit"]:hover {
  background: #13a456;
}

#footer .copyright {
  text-align: center;
  padding-top: 30px;
}

#footer .credits {
  text-align: center;
  font-size: 13px;
  color: #ddd;
}


/* Product Advanced Featuress Section
--------------------------------*/
#advanced-features .features-row {
  padding: 60px 0 30px 0;
}

#advanced-features h2 {
  font-size: 26px;
  font-weight: 700;
  color: #000;
}

#advanced-features h3 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-style: italic;
  color: #999;
}

#advanced-features p {
  line-height: 24px;
  color: #777;
  margin-bottom: 30px;
}

#advanced-features i {
  color: #666666;
  font-size: 64px;
  transition: 0.5s;
  float: left;
  padding: 0 15px 0px 0;
  line-height: 1;
}

#advanced-features i:before {
  background: #1dc8cd;
  background: linear-gradient(45deg, #1dc8cd 0%, #55fabe 100%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#advanced-features .advanced-feature-img-right {
  max-width: 100%;
  float: right;
  padding: 0 0 30px 30px;
}

#advanced-features .advanced-feature-img-left {
  max-width: 100%;
  float: left;
  padding: 0 30px 30px 0;
}

@media (max-width: 768px) {
  #advanced-features .advanced-feature-img-right, #advanced-features .advanced-feature-img-left {
    max-width: 50%;
  }
}

@media (max-width: 767px) {
  #advanced-features .advanced-feature-img-right, #advanced-features .advanced-feature-img-left {
    max-width: 100%;
    float: none;
    padding: 0 0 30px 0;
  }
}


#map {
  height: 60%;
  width: 100%; 
}

/* validator.......................................................... */
.red-text{
  color:red;
}
/* end of validator.......................................................... */


/* maze part ...........................-.....................................................*/
.do-sevice-section {
    background-color: #f9f9f9;
    overflow: hidden
}
.do-sevice-section .do-service-container {
    float: left;
    position: relative;
    width: calc(100% / 4 - 2px);
    margin-right: 1px;
    height: 280px;
    position: relative;
    -webkit-perspective: 800px;
    perspective: 800px;
    overflow: visible
}
.do-sevice-section .do-service-container:last-child {
    margin-right: 0
}
.do-sevice-section .do-service-container .do-front-part,
.do-sevice-section .do-service-container .do-back-part {
    position: absolute;
    top: 0;
    left: 0;
    vertical-align: middle;
    text-align: center;
    display: block;
    height: 220px;
    width: 100%;
    padding: 20px;
    overflow: hidden;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s
}
.do-sevice-section .do-service-container .do-front-part {
    z-index: 2
}
.do-sevice-section .do-service-container .do-back-part {
    background-color: #474747;
    z-index: 1;
    opacity: 0;
    -webkit-transform: translateY(110px) rotateX(-90deg);
    -moz-transform: translateY(110px) rotateX(-90deg);
    -ms-transform: translateY(110px) rotateX(-90deg);
    -o-transform: translateY(110px) rotateX(-90deg);
    transform: translateY(110px) rotateX(-90deg)
}
.do-sevice-section .do-service-container .do-front-part .do-front-content,
.do-sevice-section .do-service-container .do-back-part .do-back-content {
    display: block;
    position: absolute;
    top: 50%;
    left: 20px;
    right: 20px;
    margin: 0 auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%)
}
.do-sevice-section .do-service-container .do-front-part .do-front-content i {
    font-size: 28px;
    color: #000;
    font-weight: normal
}
.do-sevice-section .do-service-container .do-front-part .do-front-content h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #000;
    margin: 10px 0 0;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 15px
}
.do-sevice-section .do-service-container .do-front-part .do-front-content h3:after {
    content: '';
    position: absolute;
    bottom: -15px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 32px;
    height: 1px;
    background-color: rgba(255, 255, 255, .5)
}
.do-sevice-section .do-service-container .do-back-part .do-back-content h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    margin: 0px 0 31px;
    text-transform: uppercase;
    position: relative
}
.do-sevice-section .do-service-container .do-back-part .do-back-content h3:after {
    content: '';
    position: absolute;
    bottom: -15px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 32px;
    height: 1px;
    background-color: #fff
}
.do-sevice-section .do-service-container .do-back-part .do-back-content p {
    font-size: 13px;
    color: #b1b1b1;
    margin-bottom: 0
}
.do-sevice-section .do-service-container:nth-child(1) .do-front-part {
    background-color: #efbb22
}
.do-sevice-section .do-service-container:nth-child(2) .do-front-part {
    background-color: #efbb22
}
.do-sevice-section .do-service-container:nth-child(3) .do-front-part {
    background-color: #efbb22
}
.do-sevice-section .do-service-container:nth-child(4) .do-front-part {
    background-color: #efbb22
}
.do-service-container:hover .do-front-part,
.do-service-container:focus .do-front-part,
.do-service-container:active .do-front-part {
    opacity: 0;
    -webkit-transform: translateY(-110px) rotateX(90deg);
    -moz-transform: translateY(-110px) rotateX(90deg);
    -ms-transform: translateY(-110px) rotateX(90deg);
    -o-transform: translateY(-110px) rotateX(90deg);
    transform: translateY(-110px) rotateX(90deg)
}
.do-service-container:hover .do-back-part,
.do-service-container:focus .do-back-part,
.do-service-container:active .do-back-part {
    opacity: 1;
    -webkit-transform: rotateX(0);
    -moz-transform: rotateX(0);
    -ms-transform: rotateX(0);
    -o-transform: rotateX(0);
    transform: rotateX(0)
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .do-main-menu.minified .navbar-nav li:hover ul.sub-menu {
        opacity: 1;
        visibility: visible;
        top: 100%
    }
    .do-side-menu-button {
        right: 20px
    }
    .do-work-item {
        height: 200px;
        overflow: hidden;
        width: 33.333%
    }
    .do-custom-section-with-img {
        background-color: #f9f9f9;
        padding: 90px 0
    }
    .do-custom-section .do-animated-img-wrapper ul li {
        width: 138px
    }
    .do-custom-section .do-animated-img-wrapper ul li:nth-child(1) {
        width: 120px
    }
    .do-custom-section .do-animated-img-wrapper ul li:nth-child(2) {
        width: 155px
    }
    .do-custom-section .do-animated-img-wrapper ul li:nth-child(3) {
        width: 127px
    }
    .do-custom-section .do-animated-img-wrapper ul li:nth-child(4) {
        width: 180px
    }
    .do-team-section .do-team-members .do-team-member {
        float: left;
        position: relative;
        text-align: center;
        width: 33.333%
    }
    .do-social-link-section a {
        border-right: 1px solid #333;
        float: left;
        padding: 50px 0;
        text-align: center;
        width: 20%;
        display: inline-block;
        height: auto;
        line-height: 1;
        text-align: center
    }
    .do-social-link-section a span {
        display: block;
        height: 30px;
        left: 50%;
        margin-bottom: 10px;
        margin-right: 0;
        position: relative;
        text-align: center;
        transform: translateX(-50%)
    }
    footer.do-footer .do-footer-top {
        padding-bottom: 15px
    }
    footer.do-footer .do-footer-top .do-footer-widget {
        margin-bottom: 50px
    }
    .do-homepage-2nd header .do-main-menu.minified .navbar-nav li:hover ul.sub-menu {
        opacity: 1;
        visibility: visible;
        top: 100%
    }
    .do-homepage-2nd .do-custom-sec-img-right {
        background-color: #f9f9f9;
        padding: 90px 0
    }
    .do-custom-halfwidthimg-section .do-rightside-halfwidth-img .do-halfwidth-img-details {
        padding: 50px 40px;
        position: relative;
        z-index: 1
    }
    .do-about-us-section .do-about-us-details .do-about-text-row {
        margin-bottom: 50px;
        padding-right: 15px
    }
    .do-icon-with-text-style1 {
        padding: 0 15px;
        text-align: center
    }
    .do-blog-masonry-items .do-blog-item-wrapper .do-blo-title-excerpt {
        padding: 25px 30px
    }
    .do-blog-sidebar,
    .do-portfolio-single-page-wrapper .do-portfolio-sidebar {
        padding-left: 0
    }
    .do-blog-single-details .do-blog-comments-wrapper .do-blog-comments {
        padding: 20px 40px 20px 20px
    }
    .do-blog-single-details .do-blog-comments-wrapper .do-blog-comments .do-user-img {
        height: 55px;
        margin-right: 15px;
        width: 55px
    }
    .do-blog-single-details .do-blog-comments-wrapper .do-blog-comments .do-comments {
        width: 230px
    }
    .do-blog-single-details .do-blog-comments-wrapper .do-blog-comments.do-comment-reply {
        margin-left: 75px
    }
    .do-blog-single-details .do-blog-comments-wrapper .do-blog-comments.do-comment-reply .do-comments {
        width: 160px
    }
    .do-blog-single-details .do-comment-form-wrapper form input:not(.comment-submit) {
        display: block;
        float: none;
        margin-right: 0px;
        width: 100%
    }
    .do-contact-form-wrapper {
        float: left;
        overflow: hidden;
        padding-right: 20px;
        width: 70%
    }
    .do-contact-add-wrapper {
        float: left;
        overflow: hidden;
        padding-left: 20px;
        width: 30%
    }
    .do-portfolio-single-page-one .do-portfolio-single-page-content .do-single-portfolio-details .do-image-details {
        padding-left: 15px;
        padding-right: 40px
    }
    .do-homepage-third .do-slides-1 h1 {
        font-size: 48px;
        text-align: center;
        width: 100%!important
    }
    .do-portfolio-square .do-work-item {
        height: 230px;
        overflow: hidden;
        width: calc(100% / 3)
    }
    .do-contactmap-section .do-home-contact-form {
        left: 50%;
        padding: 80px 20px;
        position: absolute;
        top: 0;
        width: calc(750px / 2)
    }
}
@media only screen and (max-width: 767px) {
   /* .navbar-header {
        position: relative
    }
    .navbar-brand {
        left: 50%;
        position: absolute;
        transform: translateX(-50%)
    }
    .navbar-toggle {
        float: left;
        margin-right: 0;
        margin-left: 10px
    }
    .navbar-toggle .icon-bar {
        background-color: #fc7f0c;
        border-radius: 1px;
        display: block;
        height: 3px;
        width: 13px
    }
    .navbar-toggle .icon-bar+.icon-bar {
        margin-top: 3px
    }
    .navbar-collapse {
        max-height: none
    }*/
    .do-menu-wrapper ul.do-menus {
        display: block;
        float: none;
        margin-bottom: 0
    }
    ul.do-menus>li {
        margin-right: 0px;
        padding: 10px 15px;
        text-align: left
    }
    .do-main-menu .navbar-nav li ul.sub-menu,
    .do-homepage-2nd header .do-main-menu .navbar-nav li ul.sub-menu {
        background-color: transparent;
        display: block;
        float: none;
        padding: 5px 0 0 15px;
        position: static;
        opacity: 1;
        visibility: visible
    }
    .do-main-menu .navbar-nav li ul.sub-menu::before,
    .do-homepage-2nd header .do-main-menu .navbar-nav li ul.sub-menu:before {
        background: transparent
    }
    .do-main-menu .navbar-nav li ul.sub-menu li,
    .do-homepage-2nd header .do-main-menu .navbar-nav li ul.sub-menu li {
        display: block;
        clear: both;
        margin-top: 0;
        padding: 0px 0px
    }
    .do-main-menu .navbar-nav li ul.sub-menu li a,
    .do-homepage-2nd header .do-main-menu .navbar-nav li ul.sub-menu li a {
        color: #b1b1b1;
        display: inline-block;
        *display: inline;
        *zoom: 1;
        white-space: pre-wrap;
        clear: both
    }
    .do-main-menu .navbar-nav li:hover ul.sub-menu,
    .do-homepage-2nd header .do-main-menu .navbar-nav li:hover ul.sub-menu {
        opacity: 1;
        visibility: visible
    }
    .do-main-menu .navbar-nav li:hover ul.sub-menu li .do-homepage-2nd header .do-main-menu .navbar-nav li:hover ul.sub-menu li {
        margin-top: 0;
        opacity: 1
    }
    .do-main-menu .navbar-nav li ul.sub-menu li ul.sub-menu,
    .do-homepage-2nd header .do-main-menu .navbar-nav li ul.sub-menu li ul.sub-menu,
    .do-main-menu .navbar-nav li ul.sub-menu li ul.sub-menu li ul.sub-menu,
    .do-homepage-2nd header .do-main-menu .navbar-nav li ul.sub-menu li ul.sub-menu li ul.sub-menu {
        display: block;
        float: none;
        position: relative;
        padding: 0 0 0 15px;
        background: transparent;
        min-width: 100px;
        opacity: 1;
        left: auto;
        visibility: visible
    }
    .do-main-menu .navbar-nav li ul.sub-menu li ul.sub-menu li,
    .do-homepage-2nd header .do-main-menu .navbar-nav li ul.sub-menu li ul.sub-menu li {
        padding: 5px 0 0 0
    }
    .do-main-menu .navbar-nav li ul.sub-menu li:hover ul.sub-menu,
    .do-homepage-2nd header .do-main-menu .navbar-nav li ul.sub-menu li:hover ul.sub-menu,
    .do-main-menu .navbar-nav li ul.sub-menu li ul.sub-menu li:hover ul.sub-menu,
    .do-homepage-2nd header .do-main-menu .navbar-nav li ul.sub-menu li ul.sub-menu li:hover ul.sub-menu {
        left: auto
    }
    .do-side-menu-opener {
        position: absolute;
        top: 18px;
        right: 0
    }
    .do-side-menu-button {
        padding: 0;
        position: absolute;
        right: 20px;
        text-indent: 0;
        top: 0;
        width: 13px;
        z-index: 1000
    }
    .do-side-menu-wrap {
        width: 90%
    }
    .do-side-menu {
        padding: 50px 30px
    }
    .do-side-menu-widget-wrap .do-side-menu-logo-wrap {
        top: 30px
    }
    .do-side-menu-widget-wrap .do-side-menu-menu-wrap {
        height: 325px;
        margin-top: 50px;
        overflow-y: scroll;
        transform: translate3d(0px, 100%, 0px);
        transition: transform 0s cubic-bezier(.7, 0, .3, 1) .4s
    }
    .do-side-menu-widget-wrap .do-side-menu-menu-wrap ul li ul {
        opacity: 1;
        margin-top: 10px;
        padding-left: 15px
    }
    .do-side-menu-widget-wrap .do-side-menu-menu-wrap ul li:hover ul {
        opacity: 1;
        margin-top: 10px
    }
    .do-side-menu-widget-wrap .do-side-menu-social-icon {
        bottom: 20px
    }
    .do-side-menu-close-button {
        right: 20px;
        top: 40px
    }
    .do-mac-img {
        width: 78%!important;
        top: -20px!important
    }
    .do-spl-img {
        width: 15%!important;
        left: 0%!important;
        top: -20px!important
    }
    .do-spr-img {
        width: 12%!important;
        right: 2.5%!important;
        top: -22px!important
    }
    .do-earphone-img {
        width: 20%!important;
        top: 225px!important
    }
    .do-coffe-cup-img {
        top: 225px!important;
        right: 8.3%!important;
        width: 20%!important
    }
    .do-keyboard-img {
        width: 50%!important
    }
    .do-glass-img {
        left: 4%!important;
        top: -30px!important;
        width: 20%!important
    }
    .do-pencil-1-img {
        right: 10.7%!important;
        top: -60px!important;
        width: 14%!important
    }
    .do-pencil-2-img {
        right: 10%!important;
        top: -44px!important;
        width: 15%!important
    }
    .do-arrow-img {
        bottom: 80px!important
    }
    .do-women-img {
        width: 32%!important
    }
    .do-main-slider p.do-slider-text-small .do-color-text {
        font-size: 13px
    }
    .do-main-slider h1.do-slider-text-big {
        font-size: 14px;
        white-space: normal!important;
        top: -150px;
        width: 100%;
        text-align: center
    }
    .do-main-slider p.do-slider-text-small {
        font-size: 12px;
        white-space: normal!important;
        top: -40px;
        width: 100%;
        text-align: center
    }
    .do-sevice-section .do-service-container {
        float: none;
        height: 220px;
        margin-right: 0px;
        margin-bottom: 1px;
        position: relative;
        width: 100%
    }
    .do-custom-section .do-custom-section-content {
        margin-bottom: 50px
    }
    .do-icon-with-text-style1 {
        margin-bottom: 50px
    }
    .do-icon-with-text-style1:last-child {
        margin-bottom: 0
    }
    .do-work-item {
        width: 100%;
        height: auto;
        overflow: hidden
    }
    .do-portfolio-one-px .do-work-item {
        margin-bottom: 1px;
        padding-left: 0;
        padding-right: 0
    }
    .do-portfolio-one-px .do-height-dbl {
        height: auto
    }
    .do-custom-section-with-img {
        background-color: #f9f9f9;
        padding: 50px 0
    }
    .do-cta-one-section .do-cta-one .do-cta-one-text h2 {
        line-height: 1.5
    }
    .do-cta-one-section .do-cta-one .do-cta-one-btn {
        margin-top: 30px;
        text-align: center
    }
    .do-cta-one-section .do-cta-one .do-cta-one-btn a.do-btn-round-outline {
        color: #fff;
        float: none
    }
    .do-counter-section .do-counter-items {
        margin-bottom: 50px;
        text-align: center
    }
    .do-custom-sec3-col-1 {
        margin-bottom: 50px
    }
    .do-custom-sec3-col-2 {
        margin-bottom: 50px
    }
    .do-team-section .do-team-members .do-team-member {
        width: 100%
    }
    .do-team-section .do-team-members .do-team-member img {
        padding: 0 15px;
        width: 141px
    }
    .do-team-section .do-team-members .do-team-member .do-member-details {
        left: 0;
        right: 0
    }
    .do-custom-video-section .do-custom-video-content-wrapper {
        padding: 0 15px
    }
    .do-custom-video-section .do-custom-bg-video-wrapper video {
        display: none
    }
    .do-social-link-section a {
        border-right: 0px solid #333;
        border-bottom: 1px solid #333;
        float: none;
        padding: 20px 30px;
        text-align: left;
        width: 100%
    }
    footer.do-footer .do-footer-top .do-footer-widget {
        margin-bottom: 50px
    }
    footer.do-footer .do-footer-top .do-footer-widget:last-child {
        margin-bottom: 0px
    }
    .do-homepage-2nd header .do-menu-wrapper ul.do-menus {
        background-color: #222;
        display: block;
        float: none;
        margin-bottom: 0
    }
    .do-homepage-2nd header .do-menu-wrapper ul.do-menus>li>a:hover:after,
    .do-homepage-2nd header .do-menu-wrapper ul.do-menus>li.active>a:after {
        width: 0;
        background: #fff
    }
    .do-hero-header-wrapper .do-hero-header-text h3 {
        font-size: 48px
    }
    .do-hero-header-wrapper .do-btn-round-outline {
        display: block;
        padding: 0 25px 0 30px;
        margin-right: 0;
        margin-bottom: 10px
    }
    .do-hero-header-wrapper .do-hero-header-text .do-hero-header-btns a {
        color: #fff;
        display: block;
        margin-right: 0px
    }
    .do-cta-one-section.do-solid-color-cta .do-cta-one-text h2 {
        text-align: center
    }
    .do-custom-section-with-img {
        padding: 50px 0 0
    }
    .do-custom-section-with-img .do-custom-sec-content {
        margin-bottom: 50px
    }
    .do-features-with-img-wrapper > div:nth-child(2) {
        margin: 50px 0
    }
    .do-blog-masonry-items {
        margin-bottom: 50px
    }
    .do-blog-masonry-items:last-child {
        margin-bottom: 0
    }
    .do-custom-halfwidthimg-section .do-leftside-halfwidth-img,
    .do-custom-halfwidthimg-section .do-rightside-halfwidth-img {
        float: none;
        width: 100%;
        height: auto
    }
    .do-custom-halfwidthimg-section .do-rightside-halfwidth-img .do-halfwidth-img-details {
        padding: 50px 30px
    }
    .do-testimonial .do-testimonial-slides {
        padding: 0 30px
    }
    .do-about-us-section .do-about-us-details .do-about-text-row {
        margin-bottom: 50px;
        padding-right: 15px
    }
    .do-about-custom-section {
        background-color: #f9f9f9;
        padding: 65px 0
    }
    .do-about-custom-img {
        margin-bottom: 50px
    }
    .do-normal-page-title-section .do-breadcumb {
        display: inline-block;
        float: left;
        padding-left: 15px;
        padding-top: 25px
    }
    .do-creative-blog-items .do-blog-content {
        background-color: rgba(255, 255, 255, 1);
        overflow: hidden;
        padding: 30px 0 30px 20px;
        transition: all .6s ease 0s
    }
    .do-blog-masonry-page .do-blog-masonry-items {
        width: 100%;
        padding-left: 0px;
        margin-right: 0px;
        padding: 0 15px;
        float: left;
        overflow: hidden;
        margin-bottom: 40px
    }
    .do-blog-single-inner-sec {
        background-color: #fff;
        margin-bottom: 1px;
        padding: 30px;
        overflow: hidden
    }
    .do-blog-single-details .do-blog-post-title-wrapper .do-blog-post-titles {
        float: left;
        width: 70%
    }
    .do-blog-single-details .do-blog-comments-wrapper .do-blog-comments .do-user-img {
        float: none
    }
    .do-blog-single-details .do-blog-comments-wrapper .do-blog-comments {
        padding: 20px
    }
    .do-blog-single-details .do-blog-comments-wrapper .do-blog-comments .do-comments {
        float: none;
        margin-top: 30px;
        width: auto
    }
    .do-blog-single-details .do-blog-comments-wrapper .do-blog-comments.do-comment-reply {
        margin-left: 20px
    }
    .do-blog-single-details .do-blog-comments-wrapper .do-blog-comments.do-comment-reply .do-comments {
        width: auto
    }
    .do-blog-single-details .do-blog-comments-wrapper .do-blog-comments .do-comments .do-comments-title h4.do-user-name {
        float: none;
        display: block;
        margin: 0
    }
    .do-blog-single-details .do-blog-comments-wrapper .do-blog-comments .do-comments .do-comments-title h4.do-user-name a {
        float: none;
        margin: 0
    }
    .do-blog-single-details .do-blog-comments-wrapper .do-blog-comments .do-comments .do-comments-title span.do-comment-date-time {
        float: none;
        display: block;
        margin-top: 10px
    }
    .do-blog-single-details .do-blog-comments-wrapper .do-blog-comments a.do-comment-reply-btn {
        bottom: 10px;
        right: 10px
    }
    .do-blog-single-details .do-comment-form-wrapper form input:not(.comment-submit) {
        display: block;
        float: none;
        margin-right: 0px;
        width: 100%
    }
    .do-portfolio-page-wrapper .do-portfolio-filter-btn-group {
        padding: 0 15px
    }
    .do-portfolio-page-wrapper .do-portfolio-filter-btn-group a {
        margin-right: 20px;
        margin-bottom: 15px
    }
    .do-work-item {
        width: 100%;
        height: auto;
        overflow: hidden
    }
    .do-portfolio-one-px .do-work-item {
        padding-left: .5px;
        padding-right: .5px;
        margin-bottom: 1px
    }
    .do-work-item-2col .do-work-item {
        width: 100%;
        padding: 0px
    }
    .do-work-item-3col .do-work-item {
        width: 100%;
        padding: 0px
    }
    .do-work-item-4col .do-work-item {
        width: 100%;
        padding: 0px
    }
    .do-work-item-withspace .do-work-item {
        width: 100%;
        padding-left: 5px;
        padding-right: 5px;
        height: auto;
        margin-bottom: 10px
    }
    .do-portfolio-square .do-work-item {
        height: 320px;
        overflow: hidden;
        width: 100%
    }
    .do-portfolio-single-page-alt .do-single-portfolio-details {
        margin-bottom: 0;
        padding: 0 15px
    }
    .do-portfolio-single-page-content .do-single-portfolio-details .do-image-details {
        padding: 0px
    }
    .do-portfolio-single-page-alt .do-single-portfolio-details {
        margin-bottom: 0;
        padding: 0 15px
    }
    .do-portfolio-single-page-one .do-portfolio-single-page-content .do-single-portfolio-details .do-image-details {
        padding: 0 15px;
        margin-bottom: 50px
    }
    .do-contact-page-wrapper {
        overflow: hidden;
        padding: 70px 0
    }
    .do-contact-form-wrapper {
        float: none;
        margin-bottom: 50px;
        overflow: hidden;
        padding: 0 15px;
        width: 100%
    }
    .do-contact-form-wrapper form input:not([type="submit"]) {
        float: none;
        width: 100%
    }
    .do-contact-add-wrapper {
        float: none;
        overflow: hidden;
        padding: 0 15px;
        width: 100%
    }
    .do-icon-with-text-style3 {
        padding: 0 15px;
        margin-bottom: 50px
    }
    .do-icon-with-text-style3:last-child {
        margin-bottom: 0px
    }
    .do-homepage-third .do-custom-section-with-img .do-custom-sec-text-content {
        padding-bottom: 50px
    }
    .do-counter-section-2 .do-counter-items {
        margin-bottom: 50px
    }
    .do-counter-section-2 .do-counter-items:last-child {
        margin-bottom: 0px
    }
    .do-homepage-third .do-testimonial-section {
        -webkit-background-size: 100%;
        background-size: 100%;
        padding-bottom: 170px
    }
    .do-header-topbar {
        padding: 10px 15px
    }
    .do-header-topbar .do-topbar-content-wrap {
        display: block;
        float: none;
        width: 100%;
        overflow: hidden
    }
    .do-header-topbar .do-topbar-content-wrap.do-topbar-content-right {
        margin-top: 10px;
        text-align: center
    }
    .do-custom-sec-img,
    .do-custom-section-with-img .do-custom-sec-content {
        margin-bottom: 40px;
        overflow: hidden
    }
    .do-hero-header-wrapper.do-fullscreen-slider h1 {
        color: #fff;
        font-family: "Open Sans", sans-serif;
        font-size: 36px;
        font-weight: 700
    }
    .do-hero-header-wrapper.do-fullscreen-slider h1,
    .do-hero-header-wrapper.do-fullscreen-slider p {
        white-space: normal!important;
        text-align: center
    }
    .do-hero-header-wrapper.do-fullscreen-slider .do-hero-header-btns {
        top: 270px!important
    }
    .do-homepage-fourth .do-slides-1 a.do-btn-round-solid {
        margin-bottom: 15px;
        display: block
    }
    .do-homepage-fourth .do-slides-1 a.do-btn-round-outline.green {
        margin-left: 0px
    }
    .do-contactmap-section .do-home-contact-form-bg {
        width: 100%
    }
    .do-contactmap-section .do-home-contact-form {
        left: 0;
        padding: 80px 20px;
        position: absolute;
        top: 0;
        width: 100%
    }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  
    .do-sevice-section .do-service-container 
    {
        float: left;
        width: 50%
    }
  
}
/* maze part ............................................................*/


/* li class for rotation in basic  */
.basicLi{
  color:white;text-align: left;font-size: 13px
}

/* end  */


/* table in login user css */
#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 50%;
}

#customers td,
#customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers tr:hover {
  background-color: #ddd;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}