<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	</head>	
	<body>
		<table style="border: 1px solid black; height: 350px; width: 600px;">
			<tr bgcolor="#023666">
				<td align="center" style="font-family: Verdana, Arial, Segoe UI; font-size: 24px; color: #f7f9f9; font-weight: bold; padding-top: 20px;">					
					Star Property Optimizer Reports
					<br><br>					
				</td>				
			</tr>
			<tr>
				<td>
					<p style="font-family: Verdana, Arial, Segoe UI; margin-left: 2%; font-weight: normal;font-size: 14px; color: #34495e;">
						Dear #cusName,
						<br><br>
						User with user name <b>' #userName '</b> created successfully.
						<br>
						Please click the <a href="#welcomeUrl">link</a> to activate the user.
					</p>
				</td>
			</tr>
			<tr>
				<td>
					<p style="font-family: Verdana, Arial, Segoe UI; margin-left: 2%; font-weight: normal;font-size: 14px; color: #34495e;">
						If you have any questions, please email us at istarpropoptrep@gmail.com
					</p>
					<br><br><hr style="color: #85929e;">
					<p style="font-family: Verdana, Arial, Segoe UI; margin-left: 2%; font-weight: normal;font-size: 12px; color: #909497;">				
						Thanks,<br>				
						The Star Property Optimizer Reports Team | www.spor.com
					</p>					
				</td>
			</tr>			
		</table>
	</body>
</html>
