<!DOCTYPE html>
<html>

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta http-equiv="X-UA-Compatible" content="IE=edge" />
</head>

<body>
   <div style="border: 1px solid #000;text-align: center;padding: 4%;margin-top: 200px;width: 40%;margin-left: 25%;">
      <h3 style="font-family: Verdana, Arial, Segoe UI; font-size: 24px; color: #585858;">Thank you for authenticating
         your email address</h3>
   </div>
</body>

</html>