<div>
    <div ng-repeat="data in myreturnedData">
        <table id="customers">
            <tr>
                <th>Email id</th>
                <th>FirstName</th>
                <th>Last name</th>
                <th>ReportType</th>
            </tr>
            <tr>
                <td>
                    {{data.email}}
                </td>
                <td>
                    {{data.firstName}}
                </td>
                <td>
                    {{data.lastName}}
                </td>
                <td>
                    {{data.reportType}}
                </td>
            </tr>
        </table>
        <br>
        <br>
        <br>
        <h3>Sample response page - This page will be modified as per customer requirement...</h3>
   </div>
</div>
