<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<style type="text/css">
	.welcometext
	{
		font-size: 15px; 
		font-family: Verdana, Arial, Segoe UI; 
		color: #666666;
		background-repeat: no-repeat;
		background-size: 60% 70%;		
	}
</style>
</head>
<body class="welcometext">
	<img style="width: 60%; height: 70%" src="cid:nandhi@lor" />
	<p>
	Welcome to Land Optimizer Reports !
	<p>
	User with user name <b>" #userName "</b> created successfully.</p>
	<p>
	<a href="#welcomeUrl">Please click the link to activate the user.</a>	
	</p>
	<br><br>
	Thanks,<br>
	Land Optimizer Reports Team
	<hr>	
</body>
</html>